<h1 mat-dialog-title>Product</h1>
<div mat-dialog-content>
  <form [formGroup]="dialogForm">
    <div>
      <mat-form-field appearance="legacy" class="w-100">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="legacy" class="w-100">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="legacy" class="w-100">
        <mat-label>Category</mat-label>
        <input matInput formControlName="category">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="legacy" class="w-100">
        <mat-label>Price</mat-label>
        <input matInput formControlName="price">
      </mat-form-field>
    </div>
    <div *ngIf="data.product">
      <mat-form-field appearance="legacy" class="w-100">
        <mat-label>ID</mat-label>
        <input matInput formControlName="id">
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close('close')" color="basic">Close</button>
  <button mat-raised-button (click)="sendProduct()" color="primary">{{data.product ? 'Update' : 'Create'}}</button>
</div>
