<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <a href="#" class="navbar-brand">SPORTS STORE</a>
    </div>
  </div>
  <form class="m-2" [formGroup]="formCheckout" novalidate (ngSubmit)="sendOrder()">
    <div class="form-group"> 
      <label for="name">Name</label>
      <input formControlName="name" type="text" class="form-control" name="name">
      <div *ngIf="formCheckout.controls['name'].invalid && formCheckout.controls['name'].touched" class="text-danger">
        Please enter your name
      </div>
    </div>
    <div class="form-group">
      <label for="adress">Adress</label>
      <input formControlName="adress" type="text" class="form-control" name="adress">
      <div *ngIf="formCheckout.controls['adress'].invalid && formCheckout.controls['adress'].touched" class="text-danger">
        Please enter your adress
      </div>
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input formControlName="city" type="text" class="form-control" name="city">
      <div *ngIf="formCheckout.controls['city'].invalid && formCheckout.controls['city'].touched" class="text-danger">
        Please enter your city
      </div>
    </div>
    <div class="form-group">
      <label for="state">State</label>
      <input formControlName="state" type="text" class="form-control" name="state">
      <div *ngIf="formCheckout.controls['state'].invalid && formCheckout.controls['state'].touched" class="text-danger">
        Please enter your state
      </div>
    </div>
    <div class="form-group">
      <label for="zip">Zip/Postal Code</label>
      <input formControlName="zip" type="text" class="form-control" name="zip">
      <div *ngIf="formCheckout.controls['zip'].invalid && formCheckout.controls['zip'].touched" class="text-danger">
        Please enter your zip/postal code
      </div>
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <input formControlName="country" type="text" class="form-control" name="country">
      <div *ngIf="formCheckout.controls['country'].invalid && formCheckout.controls['country'].touched" class="text-danger">
        Please enter your country
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-secondary m-1" routerLink="/cart">Back</button>
      <button class="btn btn-primary m-1" type="submit" [disabled]="formCheckout.invalid">Complete Order</button>
    </div>
  </form>
</div>
