<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <a href="#" class="navbar-brand">SPORTS STORE</a>
    </div>
  </div>
  <div *ngIf="submitted" class="m-2 text-center">
    <h2>Thanks!</h2>
    <p>Thanks for placing your order.</p>
    <p>We'll ship your goods as soon as possible.</p>
    <button routerLink="/store" class="btn btn-primary">Return to Store</button>
  </div>
  <form *ngIf="!submitted" class="m-2" [formGroup]="formCheckout" novalidate (ngSubmit)="sendOrder()">
    <div class="form-group">
      <label for="name">Name</label>
      <input formControlName="name" type="text" class="form-control" name="name">
      <div *ngIf="formCheckout.controls['name'].invalid && formCheckout.controls['name'].touched" class="text-danger">
        Please enter your name
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input formControlName="email" type="text" class="form-control" name="email">
      <div *ngIf="formCheckout.controls['email'].invalid && formCheckout.controls['email'].touched" class="text-danger">
        Please enter your email
      </div>
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input formControlName="phone" type="text" class="form-control" name="phone">
      <div *ngIf="formCheckout.controls['phone'].invalid && formCheckout.controls['phone'].touched" class="text-danger">
        Please enter your phone
      </div>
    </div>
    <div class="form-group">
      <label for="adress">Adress</label>
      <input formControlName="adress" type="text" class="form-control" name="adress">
      <div *ngIf="formCheckout.controls['adress'].invalid && formCheckout.controls['adress'].touched" class="text-danger">
        Please enter your adress
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-secondary m-1" routerLink="/cart">Back</button>
      <button class="btn btn-primary m-1" type="submit" [disabled]="formCheckout.invalid">Complete Order</button>
    </div>
  </form>
</div>
