<div class="form-check">
    <label class="form-check-label">
        <input type="checkbox" class="form-check-input" (change)="showShipped()">
        Display Shipped Orders 
    </label>
</div>
<table class="table table-sm">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th colspan="2">Cart</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let order of getOrders(); let i = index">
        <tr>
            <td>{{order.name}}</td>
            <td>{{order.phone}}</td>
            <th>Product</th>
            <th>Quantity</th>
            <td>
                <button class="btn btn-warning m-1" (click)="setShipped(order)">Ship</button>
                <button class="btn btn-danger" (click)="removeOrder(order.id)">Delete</button>
            </td>
        </tr>
        <tr *ngFor="let product of order.cart">
            <td colspan="2"></td>
            <td>{{product.product.name}}</td>
            <td>{{product.quantity}}</td>
        </tr>
    </tbody>
</table>